.contactContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(208, 176, 134, 0.65);
  font-size: xx-large;
  font-weight: bold;
  padding: 40px;
  color: black;
}

.button {
  background-color: rgba(21, 56, 127, 0.831);
  width: 200px;
  height: 50px;
  font-size: large;
  margin-top: 25px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(21, 56, 127, 0.831);
  padding: 40px;
  width: 100%;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.contactInfo p {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 200;
}

.icons {
  padding-top: 15px;
}

.icons :hover {
  color: rgb(143, 196, 228);
  cursor: pointer;
}