.acc {
  width: 80vw;
}
.accList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 27.5vw;
}
.accJobBtn {
  background-color: white;
  width: 20vw;
  height: 7vh;
  margin-bottom: 2vh;
}
.jobColumns {
  font-weight: 600 !important;
}
.notes {
  border: 1px solid black;
}
.jobList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.title {
  margin-bottom: 7%;
}
.Carpentry {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 167, 133, 0.354);
  color: rgb(55, 41, 0);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Painting {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 221, 133, 0.354);
  color: rgb(49, 55, 0);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Plumbing {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(133, 222, 207, 0.354);
  color: rgb(0, 21, 55);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Electrical {
  border: 1px solid rgb(52, 50, 0);
  background-color: rgba(222, 133, 222, 0.354);
  color: rgb(11, 0, 55);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Drywall {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 184, 133, 0.354);
  color: rgb(55, 47, 0);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Concrete {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(240, 208, 182, 0.354);
  color: rgb(42, 55, 0);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Demolition {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 133, 161, 0.354);
  color: rgb(55, 0, 53);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.HVAC {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(155, 133, 222, 0.295);
  color: rgb(24, 0, 55);
  font-weight: 500 !important;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Carpentry {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 167, 133, 0.354);
  color: rgb(55, 41, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Painting {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 221, 133, 0.354);
  color: rgb(49, 55, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Plumbing {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(133, 222, 207, 0.354);
  color: rgb(0, 21, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Electrical {
  border: 1px solid rgb(52, 50, 0);
  background-color: rgba(222, 133, 222, 0.354);
  color: rgb(11, 0, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Drywall {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 184, 133, 0.354);
  color: rgb(55, 47, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Concrete {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(240, 208, 182, 0.354);
  color: rgb(42, 55, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.Demolition {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 133, 161, 0.354);
  color: rgb(55, 0, 53);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}
.HVAC {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(155, 133, 222, 0.295);
  color: rgb(24, 0, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
}