.aboutContainer {
  display: flex;
  flex-direction: column;
  background-color:rgba(247, 247, 241, 0.461)!important;
  color: rgb(35, 35, 35);
}

.aboutTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 40px
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 40px 40px 40px;
  width: 80%;
}

.info {
  font-size: x-large;
}

.jobInfo {
  justify-content: center;
  text-align: left;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}