.coloredNav {
  background-color:rgba(247, 247, 241, 0.461)!important;
}

.link {
  color: rgb(22, 22, 22) !important;
  font-size: 23px !important;
}
.link:hover {
  color: rgb(156, 132, 107) !important;
  border-bottom: 4px solid rgba(43, 60, 34, 0.634)
}

.logo {
  width: 50% !important;
  border-radius: 5px;
  margin-right: 20% !important;
}

