.reviewsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(61, 86, 48, 0.634);
}

.topButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}

.reviewButton {
  background-color: rgb(21, 56, 127, 0.831) !important;
  border: transparent solid 0px !important;
}

.reviewFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 800px;
  overflow-y: scroll;
}

.review {
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: rgb(247, 247, 241)!important;
  padding: 40px;
  margin-bottom: 20px;
  width: 50%;
}

.reviewBody {
  font-size: large;
  padding-bottom: 5px;
}

.reviewerInfo {
  font-size: large;
  padding-top: 5px;
}

.reviewTitle {
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 10px;
  color: rgba(21, 56, 127, 0.831);
}

.noCategories {
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.selectedCategory {
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.bottomButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
}

.categoryItem {
  background-color: rgb(233, 177, 75);
  border: 2px solid orange;
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 4px;
  border: 1px solid black;
}

#image {
  width: 100%;
  height: 400px;
}

.writing {
  width: 33.3%;
  height: 100%;
  object-fit: cover;
}

.Carpentry {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 167, 133, 0.354);
  color: rgb(55, 41, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Painting {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 221, 133, 0.354);
  color: rgb(49, 55, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Plumbing {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(133, 222, 207, 0.354);
  color: rgb(0, 21, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Electrical {
  border: 1px solid rgb(52, 50, 0);
  background-color: rgba(222, 133, 222, 0.354);
  color: rgb(11, 0, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Drywall {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 184, 133, 0.354);
  color: rgb(55, 47, 0);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Concrete {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(148, 148, 148, 0.852);
  color: black;
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.Demolition {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(222, 133, 161, 0.354);
  color: rgb(55, 0, 53);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
.HVAC {
  border: 1px solid rgb(11, 52, 0);
  background-color: rgba(155, 133, 222, 0.295);
  color: rgb(24, 0, 55);
  border-radius: 8px;
  padding: 1%;
  font-size: smaller;
  margin-right: 1%;
  margin-bottom: 10px;
}
